/* 
    Created on : Jan 22, 2019, 9:40:35 PM
    Author     : Sujith Varma
*/
body {
  font-family: "Muli", sans-serif;
  font-synthesis: none;
  -moz-font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
}

.navbar-singularity {
  padding: 10px;
  background: linear-gradient(90deg, #40CDFF 0%, #5B2FF1 100%);
}

.navbar-singularity .col-8, .navbar-singularity .col-4 { padding: 0; }

.navbar-singularity .navbar-brand {
  width: 180px;
  display: block;
  padding: 0;
}

.navbar-singularity .navbar-brand img {
  width: 100%;
  display: block;
}

.navbar-singularity .header-menu { text-align: right; }

.navbar-singularity .header-menu ul {
  margin: 0;
  padding: 0;
}

.navbar-singularity .header-menu li {
  padding-right: 15px;
  display: inline-block;
  list-style: none;
}

.navbar-singularity .header-menu li:last-of-type { padding-right: 0; }

.navbar-singularity .header-menu a {
  color: #fff;
  font-size: 18px;
}

.navbar-singularity .header-menu a:hover { color: #fff; }

.navbar-singularity .hamburger-menu {
  display: none;
  position: relative;
  text-align: right;
}

.navbar-singularity .hamburger-menu .bars {
  padding: 5px 10px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.navbar-singularity .hamburger-menu .bars span {
  width: 15px;
  height: 3px;
  margin-bottom: 3px;
  display: block;
  background-color: #fff;
}

.navbar-singularity .hamburger-menu .bars span:last-of-type { margin-bottom: 0; }

.navbar-singularity .hamburger-header-menu {
  position: absolute;
  right: 15px;
}

.navbar-singularity .hamburger-header-menu ul {
  padding: 0;
  margin-top: 5px;
}

.navbar-singularity .hamburger-header-menu ul li { list-style: none; }

.navbar-singularity .hamburger-header-menu ul li a {
  padding-left: 12px;
  color: #fff;
}

.navbar-singularity .hamburger-header-menu ul li a:hover { text-decoration: underline; }
.main { padding-left: 12px; }
.main .row { margin: 0; }

.main h2 {
  margin: 0;
  font-size: 50px;
  letter-spacing: -0.5px;
  font-weight: bold;
  text-indent: -3px;
}

.main p {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.main p.tagline {
  margin: 0 0 25px 0;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.35px;
}

.top-fold {
  height: auto;
  position: relative;
}

.waves {
  height: 135px;
  background: linear-gradient(90deg, #40CDFF 0%, #5B2FF1 100%);
}

.waves .waves-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.waves .waves-wrapper .waves-wrapper-svg {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.waves .waves-wrapper .waves-wrapper-svg svg {
  height: 100%;
  width: 100%;
}

.waves .waves-wrapper .waves-wrapper-svg svg path:first-child { opacity: 0.1; }
.waves .waves-wrapper .waves-wrapper-svg svg path:nth-child(2) { opacity: 0.12; }
.waves .waves-wrapper .waves-wrapper-svg svg path:nth-child(3) { opacity: 0.18; }
.waves .waves-wrapper .waves-wrapper-svg svg path:nth-child(4) { opacity: 0.33; }
.main-content .nav { border-bottom: solid 1px #f1f1f1; }

.main-content .nav .nav-item .nav-link {
  font-weight: bold;
  font-size: 20px;
  color: #666;
  padding: 0 30px;
}

.main-content .nav .nav-item .nav-link.active {
  color: #444;
  border-bottom: #4CB4FA solid 3px;
}

.main-content .nav .nav-item:hover .nav-link { border-bottom: #4CB4FA solid 3px; }
.main-content .request-search-wrapper button { border: solid 1px #f1f1f1; }

.main-content .request-search-wrapper button:focus {
  outline: none;
  cursor: pointer;
}

.main-content .request-search-wrapper .request-search {
  outline: none;
  border: none;
  height: 34px;
  border-bottom: solid 1px #f1f1f1;
}

.main-content .request-search-wrapper .request-search::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ccc;
  font-size: 14px;
  font-style: italic;
}

.main-content .request-search-wrapper .request-search::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc;
  font-size: 14px;
  font-style: italic;
}

.main-content .request-search-wrapper .request-search:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 14px;
  color: #ccc;
  font-style: italic;
}

.main-content .request-search-wrapper .request-search:-moz-placeholder {
  /* Firefox 18- */
  color: #ccc;
  font-size: 14px;
  font-style: italic;
}

.main-content .accordion-header.card { border: none !important; }

.main-content .accordion-header.card .card-header {
  background: none;
  background-color: none;
  border: none !important;
  /*padding: 0.25rem 1.25rem;*/
  padding: 12px 0;
  font-size: 16px;
  font-weight: bold;
  /*margin: 30px 0 0 0;*/
  color: #444;
}

.main-content .pending-accordion,
.main-content .open-accordion,
.main-content .closed-accordion { padding: 0; }

.main-content .pending-accordion .card,
.main-content .pending-accordion .card-header,
.main-content .open-accordion .card,
.main-content .open-accordion .card-header,
.main-content .closed-accordion .card,
.main-content .closed-accordion .card-header { border: none; }

.main-content .pending-accordion .card,
.main-content .open-accordion .card,
.main-content .closed-accordion .card {
  font-size: 14px;
  background: #f1f1f1;
  margin: 0 0 1px 0;
  color: #666;
}

.main-content .pending-accordion .card:first-child,
.main-content .open-accordion .card:first-child,
.main-content .closed-accordion .card:first-child { border-radius: 5px 5px 0 0; }

.main-content .pending-accordion .card:first-child .card-header,
.main-content .open-accordion .card:first-child .card-header,
.main-content .closed-accordion .card:first-child .card-header { border-radius: 5px 5px 0 0; }

.main-content .pending-accordion .card:last-child,
.main-content .open-accordion .card:last-child,
.main-content .closed-accordion .card:last-child { border-radius: 0 0 5px 5px; }

.main-content .pending-accordion .card:last-child .card-header,
.main-content .open-accordion .card:last-child .card-header,
.main-content .closed-accordion .card:last-child .card-header { border-radius: 0 0 5px 5px; }

.main-content .pending-accordion .card .request-description,
.main-content .pending-accordion .card .request-dates,
.main-content .open-accordion .card .request-description,
.main-content .open-accordion .card .request-dates,
.main-content .closed-accordion .card .request-description,
.main-content .closed-accordion .card .request-dates {
  font-size: 14px;
  line-height: 20px;
  color: #666;
}

.main-content .pending-accordion .card .card-body,
.main-content .open-accordion .card .card-body,
.main-content .closed-accordion .card .card-body { padding-top: 0; }

.main-content .pending-accordion .card .card-body .request-solutions,
.main-content .open-accordion .card .card-body .request-solutions,
.main-content .closed-accordion .card .card-body .request-solutions {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-content .pending-accordion .card .card-body .request-solutions li,
.main-content .open-accordion .card .card-body .request-solutions li,
.main-content .closed-accordion .card .card-body .request-solutions li { 
  padding: 15px;
}

.main-content .pending-accordion .card .card-body .request-solutions li:nth-child(odd),
.main-content .open-accordion .card .card-body .request-solutions li:nth-child(odd),
.main-content .closed-accordion .card .card-body .request-solutions li:nth-child(odd) {
  background: #fafafa;
}
.main-content .pending-accordion .card .card-header,
.main-content .open-accordion .card .card-header,
.main-content .closed-accordion .card .card-header {
  background: #f1f1f1;
}
.main-content .pending-accordion .card .card-header .fa-angle-down,
.main-content .open-accordion .card .card-header .fa-angle-down,
.main-content .closed-accordion .card .card-header .fa-angle-down {
  font-size: 16px;
}
.main-content .pending-accordion .card .card-header .thumbs-up,
.main-content .open-accordion .card .card-header .thumbs-up,
.main-content .closed-accordion .card .card-header .thumbs-up {
  color: #666;
  text-decoration: none;
}
.main-content .pending-accordion .status-description,
.main-content .open-accordion .status-description,
.main-content .closed-accordion .status-description {
  display: block;
  font-size: 11px;
  font-style: italic;
  margin: -3px 0 0 0;
}

h5 {
  font-size: 14px;
  font-weight: bold;
  color: #666;
}

footer {
  display: none;
  height: 200px;
  margin-top: 100px;
  background: linear-gradient(90deg, #40CDFF 0%, #5B2FF1 100%);
}

button.blue-projected {
  outline: 0;
  font-size: 13px;
  color: #fff;
  border-radius: 200px;
  padding: 10px 18px;
  background: #4CB4FA;
  border: solid 2px #fff;
  cursor: pointer;
}

button.blue-projected:hover {
  box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  transition: transform 0.45s cubic-bezier(0.25, 1, 0.33, 1), box-shadow 0.45s cubic-bezier(0.25, 1, 0.33, 1);
}

button.blue {
  outline: 0;
  font-size: 13px;
  color: #fff;
  border-radius: 6px;
  padding: 6px 14px;
  background: #4086ff;
  border: solid 2px #fff;
  cursor: pointer;
  border: 1px solid transparent;
}

button.blue:hover {
  /*border: solid 1px #fff;*/
  /*font-weight: bold;*/
  /*box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);*/
  /*transition: transform 0.45s cubic-bezier(0.25, 1, 0.33, 1), box-shadow 0.45s cubic-bezier(0.25, 1, 0.33, 1);*/
  background-color: #fff;
  color: #4086ff;
  border: 1px solid #4086ff; 
}

button.white {
  outline: 0;
  font-size: 13px;
  color: #4CB4FA;
  border-radius: 200px;
  padding: 10px 18px;
  background: #fff;
  border: solid 2px #4CB4FA;
  cursor: pointer;
}

button.white:hover {
  border: solid 1px #4CB4FA;
  font-weight: bold;
  box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
  transition: transform 0.45s cubic-bezier(0.25, 1, 0.33, 1), box-shadow 0.45s cubic-bezier(0.25, 1, 0.33, 1);
}

button.red {
  outline: 0;
  font-size: 13px;
  color: #fff;
  border-radius: 6px;
  padding: 6px 14px;
  background: #FA4C4C;
  border: solid 2px #fff;
  cursor: pointer;
  border: 1px solid transparent;
}

button.red:hover {
  border: solid 1px #FA4C4C;
  /*padding: 11px 19px;*/
  /*font-weight: bold;*/
  /*box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);*/
  /*transition: transform 0.45s cubic-bezier(0.25, 1, 0.33, 1), box-shadow 0.45s cubic-bezier(0.25, 1, 0.33, 1);*/
  background-color: #fff;
  color: #FA4C4C;
}

section.sections { display: none; }
section.sections.active { display: block; }
.singularity-model .modal-content { border-radius: 15px; }

.singularity-model .modal-content .modal-header,
.singularity-model .modal-content .modal-footer {
  border: none;
}

.singularity-model .modal-content .modal-header h5 {
  font-size: 22px;
  font-weight: bold;
}

/* changes for page tables */
.singularity-accordion-main { 
  width: 97%;
  margin: 0 auto 20px;
 }

 .singularity-tabs { 
  box-shadow: none;
  background-color: transparent !important;
  border-radius: 5px;
  border-top: 3px solid #0066ff;
}

 .singularity-tab {
  font-weight: normal; 
  font-size: 14px;
  outline: none; 
}

.singularity-stake-details div { padding: 0; }
.main-content .accordion-header.card { width: 100%; }

.account-table {
  width: 510px;
  padding: 15px;
  margin: 30px auto;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.account-table .singularity-accordion-header {
  background-color: transparent;
  box-shadow: none;
}

.account-table .singularity-accordion-tab {
  outline: none;
  font-size: 14px;
  font-weight: normal;
}

.singularity-token-counter {
  background: #7dc7fc;
  border-radius: 3px;
  padding: 10px;
}

.singularity-token-counter p {
  color: #fff;
  text-align: center;
  margin: 0;
}

.singularity-token-counter p span {
  display: block;
  font-size: 18px;
  font-weight: 700;

}

.account-table .singularity-button-blue,
.admin-table .singularity-button-blue {
  outline: 0;
  font-size: 13px;
  color: #fff;
  border-radius: 200px;
  margin-top: 30px;
  padding: 10px 18px;
  background: #4cb4fa;
  border: 2px solid #fff;
  cursor: pointer;
}

.account-table .singularity-button-blue:hover,
.admin-table .singularity-button-blue:hover {
  color: #02304f;
  background: #c0e4fd;
}

.admin-table {
  width: 500px;
  padding: 15px;
  margin: 30px auto;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.admin-table .singularity-accordion-header {
  background-color: transparent;
  box-shadow: none;
}

.admin-table .singularity-accordion-tab {
  font-size: 14px;
  font-weight: normal;
  outline: none;
}

.admin-table .singularity-table { box-shadow: none; }

.create-request-form {
  min-height: 380px;
  width: 800px;
  padding: 15px 15px 0;
  margin: 30px auto;
  box-shadow: 0px 0px 8px #bcd7ff;
}

.create-req-header {
  border-bottom: 1px solid #adcbfb;
  padding-bottom: 15px;
}

.create-req-header span {
  font-size: 18px; 
  font-weight: bold; 
}

.create-req-tabs {
  min-height: 320px;
  border-right: 1px solid #adcbfb;
  padding: 0;
}

.create-req-tabs ul {
  margin: 0;
  padding: 0;
}

.create-req-tabs li { list-style: none;  }
.create-req-tabs li.active { background-color: #4d80f8; }
.create-req-tabs li.active a { color: #fff; }

.create-req-tabs li a {
  width: 100%;
  padding: 10px 15px;
  display: inline-block;
  color: #000;
}

.create-req-tabs li a:hover { text-decoration: none; }

.singularity-input,
.singularity-textfield {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #999;
}

.create-request-form .singularity-content {
  padding: 15px 0;
  margin-bottom: 0;
}

/*.spacer {
  margin-top: 15px;
  height: 1px;
}

.spacer-small {
  margin-top: 15px;
  height: 1px;
}*/

.card { border: none; }

.card-header { 
  border-bottom: none;
  padding: 0;
}

.singularity-stake-details { align-items: center !important; }
.MuiPrivateTabIndicator-colorSecondary-79 { background-color: #3f51b5 !important; }
.expansion-summary div { display: inline-block; }
.expansion-summary > div { margin: 10px 0; }

.expansion-panel-details,
.expansion-panel-actions {
  background-color: #d3e8fb;
}

.expansion-panel-summary button.blue { border-radius: 50px; }

.view-req-header { 
  margin-bottom: 20px !important;
  font-size: 17px !important;
  font-weight: bold;
}

.new-request-form label {
  padding: 0;
  margin: 0;
}

.new-request-form input {
  padding: 0;
  margin: 0;
  border: 0;
}

.new-request-form .row { 
  border-bottom: 1px solid #e1eaf9;
  padding: 5px 0;
}

.singularity-textfield div:before { border: none; }
.singularity-textfield textarea { line-height: 11px; }
.new-request-form { padding-top: 0 !important; }

.new-request-form button { 
  margin: 10px 0;
  float: right;
}

/* media queries */

@media (max-width: 448px) {
  .navbar-singularity .hamburger-menu { display: block; }
  .navbar-singularity .header-menu { display: none; }
}

@media(max-width: 959px) {
  .singularity-tab { min-width: 160px !important; }
}
/*# sourceMappingURL=main.css.map */
